body {
    background-color: #E7DFC6;
    color: #000;
}

.header {
    background-color: #9E3E33;
    /* width: 100%;
    height: 200px; */
}

footer {
    background-color: #9E3E33;
    width: 100%;
}
.header .nav {
    font-weight: bolder;
    font-size: 20px;
}
.header .nav-item:hover{
    background-color: #822A20;
}

/* SCHEDULE CSS */
.schedule-container {
    overflow-x: scroll;
    overflow-y: scroll;
    /* max-width: 90%; */
    grid-column: 2;
	/* hiding scrollbar for Firefox and Edge */
	-ms-overflow-style: none;
	scrollbar-width: none;
}
/* hiding scrollbar for chrome, safari, opera */
.schedule-container::-webkit-scrollbar {
	display: none;
}
.schedule-align {
    display: grid;
    grid-template-columns: 100px 82% 100px;
}
.schedule-table {
    width: 100%;
    table-layout: auto;
    grid-column: 2;
    background-color: #E7DFC6;
}
.schedule-th, .schedule-td {
    padding: 10px;
    text-align: center;
    min-width: 100px;
}
.schedule-td {
    border: 10px transparent;
}
.schedule-th {
    border: 0px solid transparent;
    background-color: #9E3E33;
    position: sticky;
    top: 0;
}
.main-event {
    font-weight: 800;
    background-color: #f1bfb1;
	border-radius: 12px;
	box-shadow: 5px 5px 5px gray;
}
.main-event:hover {
    background-color: #822A20;
}
.reg-event {
    background-color: #9E3E33;
	border-radius: 12px;
	box-shadow: 5px 5px 5px gray;
}
.reg-event:hover {
    background-color: #822A20;
}
/* <<doesn't stick for some reason>>    */
.schedule-td:first-child {
    /* position: sticky; */
    background-color: #9E3E33;
}  

/* MERCH CSS */

.Merch{
    align-items: center;
    text-align: center;
}

p.merchItem{
    font-weight: 600;
}

img.merchItem{
    width: 100%;
    align-self: center;
    padding: 32px;
}

.lineUp{
    align-items: center;
    align-content: center;
    text-align: center;
}

.lineupOther{
    font-weight: 500;
}

.artistImg{
    max-width: 400px;
}

.rules{
    align-items: center;
    text-align: center;
    max-width: auto;
}

.aboutUs{
    text-align: center;
}

h2.sectionTitle{
    color: #966F5D;
}

p.ruleIntroText{
    font-weight: 600;
}

p.ruleOutroText{
    font-weight: 600;
    max-width: 958px;
}

.answerInline{
    display: inline;
}

p.answerInline{
    font-size: 24px;
}

a.answerInline{
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}

.ticket {
    background-color: #f1bfb1;
    height: 500px;
    border-radius: 20px;
}

.h1 {
    font-size: 40px;
}
.About .row .col-md-6 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.filler-row-100 {
    min-height: 100px;
    max-width: 100%;
}
.filler-row-150 {
    min-height: 150px;
    max-width: 100%;
}
.filler-row-50 {
    min-height: 50px;
    max-width: 100%;
}
.filler-row-25 {
    min-height: 25px;
    max-width: 100%;
}
.filler-row-10 {
    min-height: 10px;
    max-width: 100%;
}
.row {
    max-width: 100% !important;
}
.order-button {
    background-color: #966F5D;
    border-radius: 10px;
    min-height: 40px;
}

.order-button:hover {
    background-color: #634030;
}